* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 2vh 20px;
  background-color: #000;
}
#drum-machine {
  max-width: 1000px;
  width: 100%;
  margin: auto;
  border: 2px solid #21ebff;
  border-radius: 1vw;
}
#display {
  width: 100%;
  max-width: 20rem;
  height: 3rem;
  background-color: #21ebff;
  border-radius: 8px;
  margin: 5vh auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#drum-pads {
  max-height: 758px;
  position: relative;
  height: 76vw;
  width: 100%;
}
.drum-pad {
  color: #21ebff;
  text-decoration: none;
  border-radius: 50%;
  border: 1px solid #21ebff;
  transition: 0.1s;
  position: absolute;
}
.drum-pad:nth-child(1) {
  filter: hue-rotate(270deg);
  left: 17%;
  top: 10%;
  padding: 7% 7%;
  background: #000;
  z-index: 3;
}
.drum-pad:nth-child(2) {
  filter: hue-rotate(270deg);
  left: 35%;
  top: 0;
  padding: 7% 7%;
  background: #000;
  z-index: 3;
}
.drum-pad:nth-child(3) {
  filter: hue-rotate(270deg);
  right: 25%;
  top: 0%;
  padding: 7% 7%;
  background: #000;
  z-index: 3;
}
.drum-pad:nth-child(4) {
  filter: hue-rotate(115deg);
  left: 38%;
  top: 25%;
  padding: 5% 5%;
  background: #000;
  z-index: 2;
}
.drum-pad:nth-child(5) {
  filter: hue-rotate(115deg);
  left: 53%;
  top: 25%;
  padding: 5% 5%;
  background: #000;
  z-index: 2;
}
.drum-pad:nth-child(6) {
  filter: hue-rotate(270deg);
  right: 12%;
  top: 20%;
  padding: 7% 7%;
  background: #000;
  z-index: 3;
}
.drum-pad:nth-child(7) {
  filter: hue-rotate(115deg);
  left: 23%;
  top: 36%;
  padding: 6% 6%;
  background: #000;
  z-index: 1;
}
.drum-pad:nth-child(8) {
  left: 44%;
  top: 43%;
  padding: 6% 6%;
  background: #000;
  z-index: 1;
}
.drum-pad:nth-child(9) {
  left: 62%;
  top: 48%;
  padding: 6% 6%;
  background: #000;
  z-index: 1;
}
.active-drum-pad {
  background-color: #21ebff !important;
  color: #111;
  box-shadow: 0 0 50px #21ebff;
}
